node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local
.env.deploy
.dev.vars

# Cloudflare Workers
.tmp-deploy/
.wrangler/

# Editor / IDE
# .idea/
# .vscode/

# OS
.DS_Store
Thumbs.db
