services:
  server:
    build:
      context: .
    env_file:
      - .env
    depends_on:
      - couchbase
    networks:
      - internal

  couchbase:
    image: couchbase:community-7.6.2
    # env_file:
    #  - .env
    # ports: # Enable these ports if you need
    #   - "8091-8097:8091-8097"
    #   - "9123:9123"
    #   - "11207:11207"
    #   - "11210:11210"
    #   - "11280:11280"
    #   - "18091-18097:18091-18097"
    volumes:
      - couchbase_data:/opt/couchbase/var
    restart: unless-stopped
    networks:
      - internal

volumes:
  couchbase_data:

networks:
  internal:
    driver: bridge
